<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.kodnest.TestNGConcept.testannotation.C1"/>
      <class name="com.kodnest.TestNGConcept.testannotation.C3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
