<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
    <classes>
    	<parameter name="param" value="edge"/>
      <class name="com.kodnest.TestNGConcept.parameterization.ParallelExecutionConcept"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
    <classes>
    	<parameter name="param" value="chrome"/>
      <class name="com.kodnest.TestNGConcept.parameterization.ParallelExecutionConcept"/>
    </classes>
  </test>
</suite> <!-- Suite -->
