<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
  	<groups>
  		<run>
  			<include name="smoke"/>
  			<include name="functional"/>
  			<exclude name="regression"/>
  		</run>
  	</groups>
    <classes>
      <class name="com.kodnest.TestNGConcept.grouping.LoginTests"/>
      <class name="com.kodnest.TestNGConcept.grouping.PaymentTests"/>
      <class name="com.kodnest.TestNGConcept.grouping.SignUpTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
